.section-experience{
  box-shadow: 0 0 20px 5px rgb(3, 104, 199);
  padding: 0;
  width: 100%;
  margin: 0 auto;
	overflow: hidden;
	scroll-snap-type: x mandatory;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 990px;
  background-color: #fff;
  border-radius: 10px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.experience__carousel{
  margin: 0 16px;
	padding: 16px 0;
	width: max-content;
	display: flex;
	gap: 20px;

  @include md{
    gap: 50px;
  }
}

.carousel__item{
  transition: 0.5s;
	scroll-snap-align: center;
  background-color: #3ebefa;
	display: flex;
	position: relative;
	width: 100%;
  max-width: 275px;
	height: 450px;
  border-radius: 10px;
  padding: 16px;
  
  position: relative;
  overflow: hidden;

  &:hover{
    box-shadow: 0 0 15px #676767;
  }

  @include md {
    max-width: 550px;
  }
}

.item__thumbnail{
  border-radius: 10px;
  width: 100%;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;

  h3{
    font-size: 34px;
    a{
      text-decoration: none;
      color: #fff;
    }
  }

  h4{
    font-size: 14px;
    position: absolute;
    text-transform: capitalize;
    top: 10px;
    left: 0;
    padding: 5px 8px;
    background-color: #0157f7;
    border-radius: 0 10px 10px 0;
    color: #fff;
    &:hover{
      z-index: 10;
    }
  }

  span{
    color: #fff;
    font-weight: 600;
    background-color: rgb(255, 42, 42);
    border-right: 2px solid rgb(255, 42, 42);
    position: absolute;
    font-size: 12px;
    top: 10px;
    right: 0;
    padding: 5px 8px;
    border-radius: 10px 0 0 10px;
    &:hover{
      z-index: 10;
    }
  }

  p{
    margin-top: 16px;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

  @include md{
    h4{
      font-size: 16px;
    }

    span{
      font-size: 14px;
    }

    p{
      margin-top: 32px;
      font-size: 18px;
    }
  }

}

.item__hover{
  transition: all 0.2s;
  position: absolute;
  padding: 16px 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #011aff;
  top: 87%;
  left: 0;
  border-radius: 10px 10px 0 0;

  h3{
    text-align: center;
    font-size: 24px;
    color: white;
  }

  ul{
    margin:16px;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-position: inside;
    font-size: 20px;
    gap: 10px;

    li{
      padding: 5px 8px;
      background-color: #04c74f;
      display: inline;
      color: #fff;
      border-radius: 5px;
    }
  }

  &:hover{
    top: 0;
  }

  @include md{
    font-size: 30px;
  }
}